.tick text {
  fill: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.axis path,
.axis line {
  stroke: none;
}

.axis_line path,
.axis_line line {
  stroke: rgba(255, 255, 255, 0.7);
  stroke-width: 3px;
}

.d3_line {
  fill: none;
  stroke-width: 1.5px;
}

.legend-box {
  cursor: pointer;
}

.d3_user {
  fill: #1abc9c;
}

.d3_fixed {
  fill: red;
}

.d3_dot {
  fill: rgba(255, 255, 255, 0.7);
}

.d3_rect {
  fill: rgba(255, 255, 255, 0.7);
}

.chart_multiples {
  display: inline-block;
}