{% extends 'base.html' %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2 text-center">
                <h1>Computational Moderation</h1>
                <h4>For the following questions, imagine you’ve been tasked with building a computational tool to automatically detect abusive or harassing content online.</h4>
            </div>
            
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form action="/computational_moderation/" method="POST" role="form">
              {% csrf_token %}
              {{ form }}
            <button type="submit" class="btn btn-primary">Continue</button>
          </form>
      </div>
</div>
{% endblock %}