<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moderation Machine: Content Assessment</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Moderation Machine</a>
            </div>
        </div>
        <!-- /.container -->
    </nav> 


<!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Content Assessment</h1>
                <h4>Please consider the social media post on the left when responding to the following questions.</h4>
                <br>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-4" id="left">
                    <img src="http://i3.kym-cdn.com/photos/images/facebook/001/062/023/49e.jpg" class="img-responsive center-block" alt="insert content placeholder here">
            </div>
        </div>

        <div class="col-sm-8" id="right">
          <form action="#" method="post" role="form">
              <div class="form-group">
                <label for="q1">How harrassing is this social media post?</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios">Not at all harassing
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios">Slightly harassing
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios">Somewhat harassing
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios">Very harassing
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios">Extremely harassing
                </label>
              </div>
              <div class="form-group">
                <label for="q2">How abusive is this social media post?</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios">Not at all abusive
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios">Slightly abusive
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios">Somewhat abusive
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios">Very abusive
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios">Extremely abusive
                </label>
              </div>
              <div class="form-group">
                <label for="q3">How appropriate is this social media post?</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios">Lorem ipsum
                </label>
              </div>
              <div class="form-group">
                <label for="q4">How often do you come across this type of social media post?</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios">Lorem ipsum
                </label>
              </div>

              <div class="form-group">
                <label for="q4">Which of the following remediation actions would you prefer be applied to this social media post?</label>
                <br>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes">Lorem ipsum
                </label>
              </div>

              <button type="submit" class="btn btn-primary">Continue</button>
              </form>
      </div>
</div>


    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>