{% extends 'base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2 text-center">
                
                <h5>All the remaining questions are optional. You may skip any that make you uncomfortable or that you would prefer not to answer. However, the more information we are able to gather from people, the more useful our findings will be, so we appreciate you answering as many questions as possible.</h5>
                <br>
                <h1>Social Media Usage</h1>
                <h4>Please answer a few questions about yourself.</h4>
                <br>
                
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form action="/social_media_usage/" method="POST" role="form">
              {% csrf_token %}
              <div class="form-group">
                <br><br>
                <label for="q11" class="question">On average, how often do you visit the following social media sites?</label>
                <br>
                {{ form.errors }}
                <table style="width:100%">
                  <tr>
                    <th width="20%">Platform/Site</th>
                    <th width="8%" class="matrix-centered">Multiple times a day</th> 
                    <th width="8%" class="matrix-centered">Daily</th>
                    <th width="8%" class="matrix-centered">Weekly</th>
                    <th width="8%" class="matrix-centered">Monthly</th> 
                    <th width="8%" class="matrix-centered">Rarely/Never</th>
                  </tr>
                  {% for f in platforms %}
                    <tr>
                      <td><label for="{{ f.id_for_label }}" class="options">{{ f.label }}</label></td>
                      {% for value, text in f.field.choices %}
                        <td class="matrix-centered"><center><input type="radio" name="{{ f.html_name }}" id="q11Aopt1" value="{{ value }}"></center></td> 
                      {% endfor %}
                    </tr>
                  {% endfor %}
                 
                </table>
              </div>
              <br><br>
              
              <div class="form-group">
                <b>{{ most_used.label }}
                {{ most_used }}</b>
                
              </div>
            
            <div class="col-lg-12 text-center">
            <br><br>
            <!-- <button type="submit" class="btn btn-default">Placeholder form submission</button> -->
            <button type="submit" class="btn btn-primary">Continue</button>
            </div>
            
            </form>
        </div>
</div>

{% endblock %}
