{% extends 'base.html' %}
{% block content %}
{% load static %}

<script> var data = "{% static 'data/algorithmic_features.json' %}" </script>
<script src="{% static 'js/horizontal_bar_chart.js' %}"></script>
<script src="{% static 'js/algorithmic_factors.js' %}"></script>

  <!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="lead">What factors would you want to include in your own algorithm?</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <form action="/content_assessment/" method="POST" role="form">
          {% csrf_token %}
          <div class="form-group">
            <br><br>
            {{ form.errors }}
            {% for f in form %}
              <b class="question">{{ f.label }}</b>
              <table>
                <tr>
                  {% for value, text in f.field.choices %}
                    <th width="20%" class="matrix-centered options">{{ text }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  {% for value, text in f.field.choices %}
                    <td class="matrix-centered scale">
                      <input type="radio" name="{{ f.html_name }}" value="{{ value }}">
                    </td>
                  {% endfor %}
                </tr>
              </table>
              <br><br>
            {% endfor %}
          </div>
          <p>form stuff should be appearing above this</p>
          <button type="button" id="next_button" class="btn btn-primary last" onclick="algorithmicFactors(0)">Click to reveal stuff below</button>
        </form>
      </div>  
    </div>      

    <div class="row bottom_content">           
      <div class="col-lg-8 col-lg-offset-2">
        <a name="bottom_content"></a>
        <section id="">
          <p>We found it interesting that a large number of respondents replied with image recognition. This might show that they have come across offensive or harassing images quite often, though we didn’t ask them about that.</p>
        </section>

        <section id="chart">
          <script src="https://d3js.org/d3.v4.min.js"></script>
          <div id="chart" align="center">
          </div>
        </section>

        <section class="last">
          <a href="{{ next }}"><button class="btn btn-primary" type="button">Next</button></a>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}
