{% extends 'base.html' %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2 text-center">
                <h1>Computational Moderation</h1>
                <h4>For the following questions, imagine you’ve been tasked with building a computational tool to automatically detect abusive or harassing content online.</h4>
            </div>
            
        </div>
        <div class="col-md-8 col-md-offset-2">
         <!--  <form action="#" method="post" role="form">
              
            <div class="form-group">
              <label for="q8">Select up to three criteria that you think will be most useful in detecting this type of content. NOT DONE</label>
              <br>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt1" value="1">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt2" value="2">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt3" value="3">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt4" value="4">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt5" value="5">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt6" value="6">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt7" value="7">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt8" value="8">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt9" value="9">Lorem ipsum
              </label>
              <label class="checkbox">
                <input type="checkbox" name="q8chkboxes" id="q8opt10" value="10">Lorem ipsum
              </label>
            </div>
          </form> -->

          <form action="/computational_moderation/" method="POST" role="form">
              {% csrf_token %}
              {{ form }}
              
            <button type="submit" class="btn btn-primary">Continue</button>
          </form>
      </div>
</div>
{% endblock %}