{% extends 'base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Content Assessment</h1>
                <h4>Please consider the social media post below when responding to the following questions.</h4>
            </div>
            <div class="col-sm-offset-3 col-md-6">
                    <img src="http://i3.kym-cdn.com/photos/images/facebook/001/062/023/49e.jpg" class="img-responsive center-block" alt="insert content placeholder here">
                    <br>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form action="#" method="post" role="form">
              <div class="form-group">
                <label for="q1">How harrassing is this social media post?</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios" id="q1opt1" value="1">Not at all harassing
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios" id="q1opt2" value="2">Slightly harassing
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios" id="q1opt3" value="3">Somewhat harassing
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios" id="q1opt4" value="4">Very harassing
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q1-radios" id="q1opt5" value="5">Extremely harassing
                </label>
              </div>
              <div class="form-group">
                <label for="q2">How abusive is this social media post?</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios" id="q2opt1" value="1">Not at all abusive
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios" id="q2opt2" value="2">Slightly abusive
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios" id="q2opt3" value="3">Somewhat abusive
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios" id="q2opt4" value="4">Very abusive
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q2-radios" id="q2opt5" value="5">Extremely abusive
                </label>
              </div>
              <div class="form-group">
                <label for="q3">How appropriate is this social media post?</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios" id="q3opt1" value="1">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios" id="q3opt2" value="2">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios" id="q3opt3" value="3">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios" id="q3opt4" value="4">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q3-radios" id="q3opt5" value="5">Lorem ipsum
                </label>
              </div>
              <div class="form-group">
                <label for="q4">How often do you come across this type of social media post?</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios" id="q4opt1" value="1">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios" id="q4opt2" value="2">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios" id="q4opt3" value="3">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios" id="q4opt4" value="4">Lorem ipsum
                </label>
                <label class="radio-inline">
                  <input type="radio" name="q4-radios" id="q4opt5" value="5">Lorem ipsum
                </label>
              </div>

              <div class="form-group">
                <label for="q5">Which of the following remediation actions would you prefer be applied to this social media post?</label>
                <br>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt1" value="1">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt2" value="2">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt3" value="3">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt4" value="4">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt5" value="5">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt6" value="6">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt7" value="7">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt8" value="8">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt9" value="9">Lorem ipsum
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="q5chkboxes" id="q5opt10" value="10">Lorem ipsum
                </label>
              </div>
            </div>
            <div class="col-lg-12 text-center">
              <!-- <button type="submit" class="btn btn-default">Placeholder form submission</button> -->
              <a href="{% url 'remediation_assessment' %}" class="btn btn-primary" role="button">Continue</a>
              </form>
      </div>
</div>

{% endblock %}
