{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container">

        <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                        <p class="lead">This is placeholder for the interaction instructions:</p>
                        <div class="col-lg-8 col-lg-offset-1">
                            <img src="../static/img/algorithmic/algorithmic-hillaryclinton_kill_yourself.jpg" class="img-responsive center-block" alt="image of a potentially harassing social media post">
                        </div>
                        <a href=""><button type="button" class="btn btn-primary">Click to reveal stuff below</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <section id="">
                        <h3>Context Matters</h3>
                        <p>Should there be places on the internet where content like this should be allowed?</p>
                        <p>What does that mean for people who go there?</p>
                        <p>Who becomes included or excluded in those discussions?</p>
                        <p>Do you think of some places as already being that?</p>
                        <p>Would you want to go there?</p>
                    </section>

                    <section id="">
                        <i class="fa fa-area-chart fa-5x" style="color:white"></i>
                        <i class="fa fa-bar-chart fa-5x" style="color:white"></i>
                        <i class="fa fa-line-chart fa-5x" style="color:white"></i>
                        <i class="fa fa-pie-chart fa-5x" style="color:white"></i>
                    </section>

                    <section id="chart">
                    <!-- <link rel=stylesheet href="{% static '/css/test.css' %}" type="text/css"> -->
                    <script src="https://d3js.org/d3.v4.min.js"></script>
                      <div id="chart" align="center">
                        <script>var csv_url = "{% static '/data/testdata.csv' %}" </script>
                        <script src="{% static '/js/test.js' %}"></script>
                    </div>
                    </section>

                    <section id="">
                        <p>I'm not sure what chart we would put above.</p>
                    </section>                       

                    <section class="last">
                        <a href="{{ next }}"><button class="btn btn-primary" type="button">Next</button></a>
                    </section>
                </div>
            </div>
    </div>
        <!-- /.container -->
</div>
<!-- /.page-wrapper -->
{% endblock %}
