{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Content Assessment</h1>
                <h4>Please consider the social media post below when responding to the following questions.</h4>
            </div>
            <div class="col-sm-offset-3 col-md-6">
                    <img src="{{ baseURL }}{{ image }}" class="img-responsive center-block" alt="insert content placeholder here">
                    <br>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form action="/content_assessment/" method="POST" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <br><br>
                    {{ form.errors }}
                    {% for f in how_much %}
                        <b>{{ f.label }}</b>
                        <table>
                            <tr>
                                {% for value, text in f.field.choices %}
                                    <th width="20%" class="matrix-centered options">{{ text }}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for value, text in f.field.choices %}
                                    <td class="matrix-centered scale">
                                        <input type="radio" name="{{ f.html_name }}" value="{{ value }}">
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                        <br><br>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <b>{{ which_remediation.label }}
                    {{ which_remediation }}</b>
                </div>
                            

            <button type="submit" class="btn btn-primary">Continue</button><br>

          </form>
          <a href="{% url 'visualizations' %}"><button class="btn btn-primary">See Results</button></a>
      </div>
</div>

{% endblock %}
