{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Content -->
<script> var data = "{% static 'data/one_axis_scatter_data.json' %}" </script>
<script src="{% static 'js/one_axis_scatter.js' %}"></script>
<script src="{% static 'js/context_matters.js' %}"></script>

<div id="page-content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="lead">This is placeholder for the interaction instructions:</p>
        <div class="col-lg-8 col-lg-offset-1">
          <img src="{{ baseURL }}{{ image }}" class="img-responsive center-block" alt="image of a potentially harassing social media post">
        </div>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <form action="/content_assessment/" method="POST" role="form">
          {% csrf_token %}
          <div class="form-group">
            <br><br>
            {{ form.errors }}
            {% for f in form %}
              <b class="question">{{ f.label }}</b>
              <table>
                <tr>
                  {% for value, text in f.field.choices %}
                    <th width="20%" class="matrix-centered options">{{ text }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  {% for value, text in f.field.choices %}
                      <td class="matrix-centered scale">
                        <input type="radio" name="{{ f.html_name }}" value="{{ text }}">
                      </td>
                  {% endfor %}
                </tr>
              </table>
              <br><br>
            {% endfor %}
          </div>

          <button type="button" id="next_button" class="btn btn-primary last" onclick="contextMatters()">Click to reveal stuff below</button>
        </form>

        <div class="bottom_content">
          <a name="bottom_content"></a>
          <section id="">
            <h3>Context Matters</h3>
            <p>Should there be places on the internet where content like this should be allowed?</p>
            <p>What does that mean for people who go there?</p>
            <p>Who becomes included or excluded in those discussions?</p>
            <p>Do you think of some places as already being that?</p>
            <p>Would you want to go there?</p>
          </section>

          <section id="">
              <i class="fa fa-area-chart fa-5x" style="color:white"></i>
              <i class="fa fa-bar-chart fa-5x" style="color:white"></i>
              <i class="fa fa-line-chart fa-5x" style="color:white"></i>
              <i class="fa fa-pie-chart fa-5x" style="color:white"></i>
          </section>

          <section id="chart">
            <div id="chart" align="center">

            </div>
          </section>
          <section id="">
              <p>What chart should go above?</p>
          </section>                        
          <section class="last">
            <a href="{{ next }}"><button class="btn btn-primary" type="button">Next</button></a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
