{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Content -->
<script> var data = "{% static 'data/most_freq_social_media.json' %}" </script>
<script src="{% static 'js/bar_chart.js' %}"></script>
<script src="{% static 'js/context_matters.js' %}"></script>

<div id="page-content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="lead">Which platform do you spend the most time on?</p>
        <form action="/content_assessment/" method="POST" role="form">
          {% csrf_token %}
          <div class="form-group">
            <br><br>
            {{ form.errors }}
            {% for f in form %}
              <b class="question">{{ f.label }}</b>
              <table>
                <tr>
                  {% for value, text in f.field.choices %}
                    <th width="20%" class="matrix-centered options">{{ text }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  {% for value, text in f.field.choices %}
                      <td class="matrix-centered scale">
                        <input type="radio" name="{{ f.html_name }}" value="{{ text }}">
                      </td>
                  {% endfor %}
                </tr>
              </table>
              <br><br>
            {% endfor %}
          </div>

          <button type="button" id="next_button" class="btn btn-primary last" onclick="contextMatters()">Click to See Results</button>
        </form>

        <div class="bottom_content">
          <a name="bottom_content"></a>
          <section id="">
            <h3>Context Matters</h3>
            <p>Context is a very important part of detecting and moderating online harassment. Knowing the full context of a message could be the difference between seeing something seemingly innocuous, like coded language, as hate speech. It could also be the difference between something seemingly terrible as an inside joke among friends, and not harassment.</p>
            <p>Context also matters in terms of what platform is being used. Different communities establish different norms and ways of policing themselves.</p>
          </section>

          <section id="chart">
            <div id="chart" align="center">

            </div>
          </section>
          <section id="">
            <p>In our survey, the vast majority of respondents said they used Facebook most often, but we did notice some small differences in how users of various platforms rated the harassment level of the content they saw.</p>
            <p>This could be because of differences in the norms of people active in these communities, further research is required. Still, who gets to decide these norms? How can owners of the platform make sure that underrepresented, but passionate, users of their platform get an equal voice in the conversation? Would you want to stay on a platform if the norms changed to make it less comfortable for you?</p>
          </section>                        
          <section class="last">
            <a href="{{ next }}"><button class="btn btn-primary" type="button">Next Page</button></a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
