{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Thank you for taking our survey!</h1>
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center center-block">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis purus ut eros dapibus auctor. Vestibulum scelerisque placerat nibh, maximus consequat diam consectetur in. Morbi lacinia arcu et mattis convallis. Maecenas dapibus tincidunt dolor, ut tristique purus sagittis ac. Mauris vitae efficitur enim. Pellentesque euismod id neque at ultricies. Curabitur ullamcorper consequat porta. Mauris laoreet auctor lacus ut eleifend. Fusce ut libero non dolor aliquam condimentum et nec orci. Morbi in ornare metus. Pellentesque mattis placerat est non malesuada.</p>
                    <br><br>

                    
                </div>
                <div class="col-md-8 text-center center-block">
                    <link rel=stylesheet href="{% static '/css/test.css' %}" type="text/css">
                    <script src="https://d3js.org/d3.v4.min.js"></script>
                      <div id="chart" align="center">
                        <script>var csv_url = "{% static '/data/testdata.csv' %}" </script>
                        <script src="{% static '/js/test.js' %}"></script>

                      </div>
                </div>
            </div>
            <a href="{{ next }}">Next</a>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
