{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="overlay"></div>
    <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Moderation Machine</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-home"></i> Research Section 1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-folder"></i> Research Section 2</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-file-o"></i> Research Section 3</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-cog"></i> Research Section 4</a>
                </li>
                <hr>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Global Filters <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">DEMOGRAPHICS</li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Action</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Another action</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Something else here</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Separated link</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> One more separated link</a></li>
                    <li class="dropdown-header">SOCIAL MEDIA USAGE</li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Action</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Another action</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Something else here</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Separated link</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> One more separated link</a></li>
                    <li class="dropdown-header">RATED HARASSMENT LEVEL</li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Action</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Another action</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Something else here</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> Separated link</a></li>
                    <li><a href="#"><i class="fa fa-square-o"></i> One more separated link</a></li>
                  </ul>
                </li>
            </ul>
        </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class="lead">Please consider the social media post below when responding to the following questions:</p>
                        <div class="col-lg-8 col-lg-offset-1">
                        <img src="{{ baseURL }}{{ image }}" class="img-responsive center-block" alt="image of a potentially harassing social media post">
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                    <form action="/content_assessment/" method="POST" role="form">
                        {% csrf_token %}
                    <div class="form-group">
                        <br><br>
                        {{ form.errors }}
                        {% for f in how_much %}
                        <b class="question">{{ f.label }}</b>
                        <table>
                            <tr>
                                {% for value, text in f.field.choices %}
                                    <th width="20%" class="matrix-centered options">{{ text }}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for value, text in f.field.choices %}
                                    <td class="matrix-centered scale">
                                        <input type="radio" name="{{ f.html_name }}" value="{{ value }}">
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                        <br><br>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <b class="question">{{ which_remediation.label }}</b>
                        <b class="options">{{ which_remediation }}</b>
                    </div>

                    <section class="last">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-commenting-o"></i> Continue and Compare My Results</button>
                    </form>
                        <a href="{% url 'visualizations' %}"><button class="btn btn-primary" type="button"><i class="fa fa-fw fa-line-chart"></i> View Visualizations</button></a>
                    </section>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
