{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container">

        <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <section id="">
                        <h3>Thank you for visiting our reflection site!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper mauris in ipsum mollis luctus. Curabitur tempor nisi vel faucibus vulputate. Sed vestibulum massa ante, eget faucibus sem venenatis ac. Nulla malesuada sem vel felis sodales, sed porta diam mollis. Nulla facilisi. In lacinia laoreet ex, vitae egestas neque euismod nec. Nunc volutpat hendrerit semper. Fusce sed dictum quam, eget fringilla eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non egestas diam, et faucibus elit.</p>
                    </section>                      

                </div>
            </div>
    </div>
        <!-- /.container -->
</div>
<!-- /.page-wrapper -->
{% endblock %}
