{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container">

        <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <section id="">
                        <h3>Thank you for visiting our reflection site!</h3>
                        <p>We hope you've learned a bit more about user attitudes toward online harassment, flagging methods, and remediation options. To explore the issue in more depth, you can read our research paper or visit <a href="https://meta.wikimedia.org/wiki/Research:Online_harassment_resource_guide" target="_blank">Wikimedia's Online Harassment Research Guide</a> for more resources.</p>
                        <br><br><br>
                        <p class="message-caption">This site was created by Paul Glenn, Molly Mahar, Jason Danker and Emily Witt as part of their Berkeley School of Information 2017 MIMS Final Project.</p>
                    </section>                      

                </div>
            </div>
    </div>
        <!-- /.container -->
</div>
<!-- /.page-wrapper -->
{% endblock %}
