{% extends 'base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2 text-center">
                
                <h1>Harassment Experience</h1>
                <h4>Please answer a few questions about your experiences online.</h4>
                <br>
                
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form action="/harassment_experience/" method="POST" role="form">
              {% csrf_token %}
              {{ form }}
            <button type="submit" class="btn btn-primary">Continue</button>
          </form>
      </div>
</div>

{% endblock %}