{% extends 'base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Welcome to the Moderation Machine</h1>
                <div class="col-sm-2"></div>
                <div class="col-md-8 text-center center-block">
                    <p class="lead">Welcome to the Moderation Machine, where you will make a series of judgments and decisions about steps you would take in addressing potentially harassing content. At the end we will map your decisions to a values framework to help you understand the values you may be designing into your platform, as well as those values you are not emphasizing that you may want to consider.</p>
                    <br>
                    <p><font color="red">CONTENT ADVISORY: This tool will present you with content that some may find disturbing. It may include hate speech based on gender, religion, sexual orientation, physical ability and race, as well as encouragement of suicide and descriptions of sexual assault.</font></p>
                    <br>
                    <a href="{% url 'visualizations' %}" class="btn btn-primary" role="button">See Results</a><br>
                    <a href="{% url 'content_assessment' %}" class="btn btn-primary" role="button">Rate Content</a>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
 {% endblock %}
