{% extends 'base.html' %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="page-header">Welcome to the Moderation Machine</h1>  
                        <p class="lead">Here is our final research project. We hope you'll find some interesting tidbits in here to explore. You can choose to view and rate the potentially harassing content we used for our research, or you can view our research results.</p>

                    <a href="{% url 'content_assessment' %}"><button class="btn btn-primary" type="button"><i class="fa fa-fw fa-commenting-o"></i> Rate Some Content</button></a>
                    <a href="{% url 'visualizations' %}"><button class="btn btn-primary" type="button"><i class="fa fa-fw fa-line-chart"></i> View Visualizations</button></a>

                    </div>
                </div>
            </div>
        </div>
<!-- /#page-content-wrapper -->

 {% endblock %}
