{% extends 'base.html' %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="page-header">The Moderation Machine</h1>  
                        <p class="lead">Moderation Machine is a platform for reflection about online harassment, one of the great issues of our time. Here, you'll have the opportunity to answer questions about your views on the issue and compare your answers to a broad survey of the population. 

                        No data will be collected during your experience on this site.</p>

                    <a href="{{ next }}"><button class="btn btn-primary last" type="button">Enter the Site</button></a>

                    </div>
                </div>
            </div>
        </div>
<!-- /#page-content-wrapper -->

 {% endblock %}
