{% extends 'base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2 text-center">
                <h1>Remediation Assessment</h1>
                <h4>We would now like you to consider the severity of a few possible remediation options which could be used when responding to social media posts online.</h4>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form action="#" method="post" role="form">
              
              <div class="form-group">
                <br><br>
                <label for="q6">How severe do you think each of the following remediation actions are?</label>
                <br>
                <table style="width:100%">
                  <tr>
                    <th>Remediation Action</th>
                    <th>Not at all</th> 
                    <th>Slightly</th>
                    <th>Somewhat</th>
                    <th>Very</th> 
                    <th>Extremely</th>
                  </tr>
                  <tr>
                    <td><label for="q6A"> Before the user can post the message, notify them it has been deemed potentially abusive or harassing by an automated system and require confirmation to post it
                    </label></td>
                    <td><input type="radio" name="q6A-radios" id="q6Aopt1" value="1"</td> 
                    <td><input type="radio" name="q6A-radios" id="q6Aopt2" value="2"</td>
                    <td><input type="radio" name="q6A-radios" id="q6Aopt3" value="3"</td>
                    <td><input type="radio" name="q6A-radios" id="q6Aopt4" value="4"</td>
                    <td><input type="radio" name="q6A-radios" id="q6Aopt5" value="5"</td>
                  </tr>
                  <tr>
                    <td><label for="q6B">Remove the message from the platform and take no further action</label></td>
                    <td><input type="radio" name="q6B-radios" id="q6Bopt1" value="1"</td> 
                    <td><input type="radio" name="q6B-radios" id="q6Bopt2" value="2"</td>
                    <td><input type="radio" name="q6B-radios" id="q6Bopt3" value="3"</td>
                    <td><input type="radio" name="q6B-radios" id="q6Bopt4" value="4"</td>
                    <td><input type="radio" name="q6B-radios" id="q6Bopt5" value="5"</td>
                  </tr>
                </table>
              </div>
              <br><br>
              
              <div class="form-group">
                <label for="q7">How effective do you think each of the following remediation actions are?</label>
                <br>
                <table style="width:100%">
                  <tr>
                    <th>Remediation Action</th>
                    <th>Not at all</th> 
                    <th>Slightly</th>
                    <th>Somewhat</th>
                    <th>Very</th> 
                    <th>Extremely</th>
                  </tr>
                  <tr>
                    <td><label for="q7A"> Before the user can post the message, notify them it has been deemed potentially abusive or harassing by an automated system and require confirmation to post it
                    </label></td>
                    <td><input type="radio" name="q7A-radios" id="q7Aopt1" value="1"</td> 
                    <td><input type="radio" name="q7A-radios" id="q7Aopt2" value="2"</td>
                    <td><input type="radio" name="q7A-radios" id="q7Aopt3" value="3"</td>
                    <td><input type="radio" name="q7A-radios" id="q7Aopt4" value="4"</td>
                    <td><input type="radio" name="q7A-radios" id="q7Aopt5" value="5"</td>
                  </tr>
                  <tr>
                    <td><label for="q7B">Remove the message from the platform and take no further action</label></td>
                    <td><input type="radio" name="q7B-radios" id="q7Bopt1" value="1"</td> 
                    <td><input type="radio" name="q7B-radios" id="q7Bopt2" value="2"</td>
                    <td><input type="radio" name="q7B-radios" id="q7Bopt3" value="3"</td>
                    <td><input type="radio" name="q7B-radios" id="q7Bopt4" value="4"</td>
                    <td><input type="radio" name="q7B-radios" id="q7Bopt5" value="5"</td>
                  </tr>
                </table>
              </div>
            
            <div class="col-lg-12 text-center">
            <br><br>
            <!-- <button type="submit" class="btn btn-default">Placeholder form submission</button> -->
            <a href="{% url 'computational_moderation' %}" class="btn btn-primary" role="button">Continue</a>
            </div>
            
            </form>
        </div>
</div>

{% endblock %}
