<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moderation Machine: Social Media Usage</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        padding-bottom: 100px;
    }
    .form-group {
      padding-top: 25px;
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Moderation Machine</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>    

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2 text-center">
                
                <h5>All the remaining questions are optional. You may skip any that make you uncomfortable or that you would prefer not to answer. However, the more information we are able to gather from people, the more useful our findings will be, so we appreciate you answering as many questions as possible.</h5>
                <br>
                <h1>Social Media Usage</h1>
                <h4>Please answer a few questions about yourself.</h4>
                <br>
                
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form action="#" method="post" role="form">
              
              <div class="form-group">
                <br><br>
                <label for="q11">On average, how often do you visit the following social media sites?</label>
                <br>
                <table style="width:100%">
                  <tr>
                    <th>Platform/Site</th>
                    <th>Multiple times a day</th> 
                    <th>Daily</th>
                    <th>Weekly</th>
                    <th>Monthly</th> 
                    <th>Rarely/Never</th>
                  </tr>
                  <tr>
                    <td><label for="q11A">Facebook</label></td>
                    <td><input type="radio" name="q11A-radios" id="q11Aopt1" value="1"</td> 
                    <td><input type="radio" name="q11A-radios" id="q11Aopt2" value="2"</td>
                    <td><input type="radio" name="q11A-radios" id="q11Aopt3" value="3"</td>
                    <td><input type="radio" name="q11A-radios" id="q11Aopt4" value="4"</td>
                    <td><input type="radio" name="q11A-radios" id="q11Aopt5" value="5"</td>
                  </tr>
                  <tr>
                    <td><label for="q11B">Reddit</label></td>
                    <td><input type="radio" name="q11B-radios" id="q11Bopt1" value="1"</td> 
                    <td><input type="radio" name="q11B-radios" id="q11Bopt2" value="2"</td>
                    <td><input type="radio" name="q11B-radios" id="q11Bopt3" value="3"</td>
                    <td><input type="radio" name="q11B-radios" id="q11Bopt4" value="4"</td>
                    <td><input type="radio" name="q11B-radios" id="q11Bopt5" value="5"</td>
                  </tr>
                  <tr>
                    <td><label for="q11C">Twitter</label></td>
                    <td><input type="radio" name="q11C-radios" id="q11Copt1" value="1"</td> 
                    <td><input type="radio" name="q11C-radios" id="q11Copt2" value="2"</td>
                    <td><input type="radio" name="q11C-radios" id="q11Copt3" value="3"</td>
                    <td><input type="radio" name="q11C-radios" id="q11Copt4" value="4"</td>
                    <td><input type="radio" name="q11C-radios" id="q11Copt5" value="5"</td>
                  </tr>
                </table>
              </div>
              <br><br>
              
              <div class="form-group">
                <label for="q12">Which social media platform do you use most frequently?</label>
                <br>
                <label class="radio">
                  <input type="radio" name="q12-radios" id="q12opt1" value="1">Facebook
                </label>
                <label class="radio">
                  <input type="radio" name="q12-radios" id="q12opt2" value="2">Reddit
                </label>
                <label class="radio">
                  <input type="radio" name="q12-radios" id="q12opt3" value="3">Twitter
                </label>
                <label class="radio">
                  <input type="radio" name="q12-radios" id="q12opt4" value="4">Pinterest
                </label>
                <label class="radio">
                  <input type="radio" name="q12-radios" id="q12opt5" value="5">Instagram
                </label>
                <label class="radio">
                  <input type="radio" name="q12-radios" id="q12opt6" value="6">Snapchat
                </label>
                <label class="radio">
                  <input type="radio" name="q12-radios" id="q12opt7" value="7">Other (please specify below)
                </label>
                <input type="text" class="form-control" placeholder="Lorem ipsum" name="q12textfield" id="q12text">
              </div>
            
            <div class="col-lg-12 text-center">
            <br><br>
            <!-- <button type="submit" class="btn btn-default">Placeholder form submission</button> -->
            <a href="demographic-info.html" class="btn btn-primary" role="button">Continue</a>
            </div>
            
            </form>
        </div>
</div>


    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>
