{% extends 'base.html' %}
{% block content %}
{% load static %}

<script> var data1 = "{% static 'data/one_axis_scatter_data.json' %}" </script>
<script> var data2 = "{% static 'data/'bar_chart_data.json' %}" </script>
<script> var data3 = "{% static 'bar_with_mouseover_data.json' %}" </script>
<script> var data4 = "{% static 'line_data.json' %}" </script>

<script src="{% static 'js/one_axis_scatter.js' %}"></script>
<script src="{% static 'js/line_with_mouseover.js' %}"></script>
<script src="{% static 'js/bar_with_mouseover.js' %}"></script>
<script src="{% static 'js/bar_chart.js' %}"></script>

  <a name="bottom_content"></a>
  <section id="">
    <h3>Harassment Ratings: Our Results</h3>
    <p>In our survey, we asked people to rate pieces of content with similar levels of suggested violence. We expected to see wider variations in the means of rated harassment, but the messages were rated very similarly by most participants:</p>
  </section>

  <section id="">
      <i class="fa fa-area-chart fa-5x" style="color:white"></i>
      <i class="fa fa-bar-chart fa-5x" style="color:white"></i>
      <i class="fa fa-line-chart fa-5x" style="color:white"></i>
      <i class="fa fa-pie-chart fa-5x" style="color:white"></i>
  </section>

  <section id="chart">
    <div id="chart1" align="center">
      <script>
        // Arguments are: div_id, user_data, datafile
        one_axis_scatter('#chart1',{"x": "Extremely harassing", "y": "0", "r": "30"},data1);
      </script>
    </div>
    <div id="chart2" align="center">
      <script>
        // Arguments are: div_id, datafile
        bar_chart('#chart2',data2)
      </script>
    </div>
    <div id="chart3" align="center">
      <script>
        // Arguments are: div_id, datafile
        bar_with_mouseover('#chart3',data3);
      </script>
    </div>
    <div id="chart4" align="center">
      <script>
        // Arguments are: div_id, datafile
        line_with_mouseover('#chart4',data4);
      </script>
    </div>
  </section>
  <section id="">
      <p>Interestingly, what has been typically defined as online harassment differs substantially from what American legal definitions of harassment are. This can lead to issues getting law enforcement involved. However, internet users seemed to be able to come to a consensus that material advocating violence does not belong on these channels.</p>
  </section>                        
  <section class="last">
    <a href="{{ next }}"><button class="btn btn-primary" type="button">Next</button></a>
  </section>


  {% endblock %}