.tick text {
  fill: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.axis path,
.axis line {
  stroke: none;
}

.d3_line {
  fill: none;
  stroke-width: 1.5px;
}

.legend-box {
  cursor: pointer;
}

.d3_user {
  fill: #34495e;
}

.d3_dot {
  fill: rgba(255, 255, 255, 0.7);
}

.d3_rect {
  fill: rgba(255, 255, 255, 0.7);
}