body, html {
  margin: 0;
  /*overflow: hidden;*/
  height:100%;
}

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-bottom: 100px;
}

@media (max-width: 768px){ 
  .radio-inline{
  display: block; 
  }
}

.form-group {
  padding-bottom: 25px;
}

@media (min-width: 768px){
  #left {
    position: absolute;
/*    top: 0px;
    bottom: 0;*/
    left: 0;
    width: 40%;
    /*overflow-y: scroll; */
  }
  
  #right {
    position: absolute;
/*    top: 0;
    bottom: 0;*/
    right: 0;
    overflow-y: scroll;
    width: 60%;
    padding-left: 20px;
  }
}

#left {
/*  background-color: #FC6E51;*/
  text-align: center;
  height:100%;
}

#right {
  height:100%;
/*  background-color: #4FC1E9;*/
  /*text-align: center;*/
}