svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  stroke: #E6E7E8;
}

.d3_line {
  fill: none;

  stroke-width: 1.5px;
}

.legend-box {
  cursor: pointer;
}

.d3_user {
  fill: red;
}

.d3_dot {
  fill: black;
}

/*This is new stuff, probably gonna mess ish up*/
/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}*/